* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background: #75E9F7;
}

img {
  width: 100%;
}

.container {
  max-width: 50rem;
  margin: 5rem auto;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
}

/* Tab Button */
.tab {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 7rem;
}

.tab button {
  background: #FAFAFA;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all .5s ease;
}

.tab button:hover {
  background: #fff;
}

.button-wrap h4 {
  margin-top: .5rem;
  color: #333;
  opacity: 0.6;
  transition: all .5s ease;
}

.tab button:hover h4 {
  opacity: 1;
}

.button-wrap svg {
  width: 30%;
  fill: #b62ec4;
}

/* Tab Content */
.tabContent {
  display: none;
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {opacity: 1;}
}

.showContent {
  display: block;
}

.tabContent-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
}

.tabContent-des h5 {
  color: #b62ec4;
  font-size: 1.6rem;
  margin-bottom: .5rem;
}

.tabContent-des p {
  color: #333;
  opacity: 0.6;
}

.tabContent-img {
  text-align: right;
}

.tabContent-wrap img {
  width: 70%;
  text-align: right;
}